(
    canisters: (
        Canister (
            percent_full: 0.25,
            gas: Oxygen,
        ),
        Canister (
            percent_full: 0.89,
            gas: CarbonDioxide,
        ),
        Canister (
            percent_full: 0.58,
            gas: Nitrogen,
        ),
        Canister (
            percent_full: 0.00,
            gas: None,
        ),
    )
)